@import "tailwindcss";

@theme {
  --font-display: var(--font-space-grotesk);

  --color-primary: #0d93f2;
  --color-background-light: #f5f7f8;
  --color-background-dark: #101b22;

  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

:root {
  /* Force Dark Mode Theme colors to match design */
  --background: #101b22;
  --foreground: #f8fafc;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-display), sans-serif;
  min-height: 100vh;
}